/* Modal Fix */
.modal .modal-dialog {
  margin-top: 0px;
}

/* Login Form */
.card .card-header-primary,
.card.bg-primary,
.card.card-rotate.bg-primary .front,
.card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #2B65EC, #342D7E);
}

.card-login .form {
  min-height: 150px;
}

.card .card-title {
  margin-top: 0px;
}

/* DateTimePicker */
.bmd-form-group .form-control {
  background-image: linear-gradient(to top, #2B65EC 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}


.is-focused [class^='bmd-label'],
.is-focused [class*=' bmd-label'] {
  color: #2B65EC;
}

.bootstrap-datetimepicker-widget table td.active>div,
.bootstrap-datetimepicker-widget table td.active:hover>div {
  background-color: #2B65EC;
}

/* Buttons */
.btn.btn-primary.btn-link {
  color: #2B65EC;
}

.btn.btn-primary.btn-link:hover,
.btn.btn-primary.btn-link:focus,
.btn.btn-primary.btn-link:active {
  background-color: transparent;
  color: #2B65EC;
}

/* Card Result */
.card {
  margin-bottom: 0px!important;
}
.card-text {
  font-size: 18px;
  line-height: 30px;
}

.tab-content {
  padding-right: 20px;
}

.form-control{
  background-image: linear-gradient(to top, #2B65EC 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
  
}
.card-login .form-check{
  padding-top: 0px !important;
  text-align: left;
}
.form-check .form-check-input:checked ~ .circle {
  border-color:  #2B65EC;
}
.form-check .form-check-label .circle .check {
  background-color:  #2B65EC;
}

.nav-tabs .nav-item .nav-link {
  text-align: center;
  font-size: 18px;
}

/* Login Form */
.control-label-custom {
  position: absolute!important;
  top: 2.5rem!important;
  left: 3.44rem!important;
  color: #f44336!important;
}

.form-control-feedback-custom {
  position: absolute!important;
  top: 0rem!important;
}