{% include 'includes/privacy.html' %}

<footer class="footer">
  <div class="container-fluid text-center text-md-center  px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col-md-6 py-3 px-lg-5 ">

        <h5 class="text-uppercase">CiccioPasticcio</h5>
        <p>Prenota ora la tua stanza</p>

      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 py-3 px-lg-5 ">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list">
          <li>
            <a href="#!">Contattici</a>
          </li>
          <li class="button-container nav-item iframe-extern">
            <a href="/login" target="_blank" class="btn btn-info btn-round btn-block">
              <i class="material-icons">account_circle</i> Login
              <div class="ripple-container"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
   
    <div class="footer-copyright text-center py-3">
      © 2019 CiccioPasticcio.Tutti i diritti sono riservati.|
      <a href="#"  data-toggle="modal" data-target="#privacy"> Privacy policy.</a>
    </div>
    
</footer>