<div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="Privacy Policy"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Privacy policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h4 class="modal-title" id="myModalLabel" style="padding-right: 24px; padding-left: 24px;">Informativa per la protezione dei dati ai sensi del Regolamento
                Generale di Protezione dei Dati (RGPD) UE 679/2016 in vigore dal 25 maggio 2018</h4>

            <div class="modal-body">
                <p>
                    Agriturismo Apparita, con sede legale in Via Tommaso Porcacchi 5, 52043 Castiglion Fiorentino (AR)
                    Italia, P.IVA 01882330515 (in seguito, “Titolare”), in qualità di titolare del trattamento, La
                    informa ai sensi dell’art. 13 D.Lgs. 30.6.2003 n. 196 (in seguito, “Codice Privacy”) e dell’art. 13
                    Regolamento UE n. 2016/679 (in seguito, “GDPR”) che i Suoi dati saranno trattati con le modalità e
                    per le finalità seguenti:
                </p>

                <h4><span class="badge badge-pill badge-primary">1</span> Titolare del trattamento:</h4>
                <p>
                    Agriturismo Apparita , con sede legale in Via Tommaso Porcacchi 5, 52043 Castiglion Fiorentino (AR)
                    Italia
                </p>
                <p>
                    L’elenco aggiornato dei responsabili e degli incaricati al trattamento è custodito presso la sede
                    legale del Titolare del trattamento.
                </p>

                <h4><span class="badge badge-pill badge-primary">2</span> Oggetto del trattamento:</h4>
                <p>
                    Il Titolare tratta i dati personali – in seguito, “dati personali” o anche “dati”) da Lei
                    eventualmente comunicati in occasione della conclusione di contratti per i servizi o prodotti
                    venduti dal Titolare.
                </p>

                <h4><span class="badge badge-pill badge-primary">3</span> Finalità del trattamento:</h4>
                <p>
                    I Suoi dati personali sono trattati:<br>
                    <strong>a)</strong> I dati personali che lei fornirà attraverso questo sito web o direttamente al
                    Titolare sono trattati senza il Suo consenso espresso (art. 6 lett. b), e) del RGPD), unicamente per
                    le seguenti Finalità di Servizio:
                    <ul>
                        <li>concludere i contratti per i servizi del Titolare</li>
                        <li>adempiere agli obblighi precontrattuali, contrattuali e fiscali derivanti da rapporti con
                            Lei in essere</li>
                        <li>adempiere agli obblighi previsti dalla legge, da un regolamento, dalla normativa comunitaria
                            o da un ordine dell’Autorità</li>
                        <li>esercitare i diritti del Titolare, ad esempio interessi legittimi o il diritto di difesa in
                            giudizio</li>
                    </ul>

                    <strong>b)</strong> I dati personali che lei fornirà attraverso questo sito web o direttamente al
                    Titolare saranno invece trattati solo previo Suo specifico e distinto consenso (art. 7 RGPD), per le
                    seguenti Finalità di Marketing:
                    <ul>
                        <li>inviarLe via e-mail, posta e/o sms e/o contatti telefonici, comunicazioni commerciali o
                            newsletter o altro materiale pubblicitario su prodotti o servizi offerti dal Titolare.</li>
                        <li>nviarLe via e-mail questionari per la rilevazione del grado di soddisfazione sulla qualità
                            dei servizi.</li>
                    </ul>

                    Le segnaliamo che se siete già nostri clienti, potremo inviarLe comunicazioni commerciali o
                    newsletter relative a servizi e prodotti del Titolare analoghi a quelli di cui ha già usufruito,
                    salvo Suo revoca del consenso già espresso.
                </p>

                <h4><span class="badge badge-pill badge-primary">4</span> Modalità, durata del trattamento e sicurezza
                    dei dati:</h4>
                <p>
                    I Suoi dati personali sono sottoposti a trattamento sia cartaceo che elettronico e/o automatizzato.
                </p>
                <p>
                    Il Titolare tratterà i dati personali per il tempo necessario per adempiere alle finalità di cui
                    sopra e comunque per non oltre 10 anni dalla cessazione del rapporto per le Finalità di Servizio
                    (3.a) e per non oltre 2 anni dalla raccolta dei dati per le Finalità di Marketing (3.b).
                </p>
                <p>
                    Il Titolare dichiara di aver adottato misure tecniche e organizzative idonee per l’assolvimento
                    degli obblighi previsti dal RGPD. In particolare, il Titolare dichiara di aver attivato procedure
                    interne per salvaguardare la sicurezza dei dati (sia elettronici che cartacei), mediante cifratura,
                    misure di backup e disaster recovery e misure di protezione della propria rete tramite firewall,
                    antivirus o sistemi di prevenzione da accessi abusivi. Il titolare dichiara di aver altresì
                    verificato l’esistenza di uguali misure di sicurezza presso i propri fornitori che forniscono
                    servizi di hosting collegati alle funzionalità di questo sito web.
                </p>

                <h4><span class="badge badge-pill badge-primary">5</span> Altri destinatari dei dati:</h4>
                <p>
                    Il Titolare tratta internamente i dati raccolti e li utilizza per lo svolgimento della propria
                    attività. Non vi sono altri destinatari dei dati, ad eccezione dei destinatari previsti dagli
                    obblighi di legge.
                </p>

                <h4><span class="badge badge-pill badge-primary">6</span> Trasferimento dati</h4>
                <p>
                    I dati personali, qualora vengano acquisiti dal sito web, sono conservati su server ubicati in
                    Italia o comunque all’interno dell’Unione Europea. Resta in ogni caso inteso che il Titolare, ove si
                    rendesse necessario, avrà facoltà di spostare i server anche extra-UE. In tal caso, il Titolare
                    assicura sin d’ora che il trasferimento dei dati extra-UE avverrà in conformità alle disposizioni di
                    legge applicabili, previa stipula delle clausole contrattuali standard previste dalla Commissione
                    Europea e garantendo sempre la sicurezza del trasferimento e dopo aver verificato l’esistenza presso
                    il nuovo fornitore di idonee misure di sicurezza e dell’assenza di utilizzi non autorizzati dei
                    dati.
                </p>


                <h4><span class="badge badge-pill badge-primary">7</span> Diritti dell'interessato</h4>
                <p>
                    Nella Sua qualità di interessato, lei può esercitare tutti i diritti di cui all’art. 15 RGPD e
                    precisamente i diritti di:
                    <ul>
                        <li>ottenere la conferma dell'esistenza o meno di dati personali che La riguardano, anche se non
                            ancora registrati, e la loro comunicazione in forma intelligibile; </li>
                        <li>ottenere l'indicazione:</li>
                        <ul>
                            <li>a) dell'origine dei dati personali</li>
                            <li>b) delle finalità e modalità del trattamento</li>
                            <li>c) della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti
                                elettronic</li>
                            <li>d) degli estremi identificativi del titolare, dei responsabili e del rappresentante
                                designato ai sensi dell'art. 5, comma 2 Codice Privacy e art. 3, comma 1, RGPD</li>
                            <li>e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere
                                comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel
                                territorio dello Stato, di responsabili o incaricati</li>
                        </ul>
                        <li>ottenere:</li>
                        <ul>
                            <li>a) l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei
                                dati</li>
                            <li>b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in
                                violazione di legge, compresi quelli di cui non è necessaria la conservazione in
                                relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati
                            </li>
                            <li>c) l'attestazione che le operazioni di cui alle lettere a) e b) sono state portate a
                                conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono
                                stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela
                                impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al
                                diritto tutelato</li>
                        </ul>
                        <li>opporsi, in tutto o in parte:</li>
                        <ul>
                            <li>a) per motivi legittimi al trattamento dei dati personali che La riguardano, ancorché
                                pertinenti allo scopo della raccolta</li>
                            <li>b) al trattamento di dati personali che La riguardano a fini di invio di materiale
                                pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di
                                comunicazione commerciale, mediante l’uso di sistemi automatizzati di chiamata senza
                                l’intervento di un operatore mediante e-mail e/o mediante modalità di marketing
                                tradizionali mediante telefono e/o posta cartacea. Si fa presente che il diritto di
                                opposizione dell’interessato, esposto al precedente punto b), per finalità di marketing
                                diretto mediante modalità automatizzate si estende a quelle tradizionali e che comunque
                                resta salva la possibilità per l’interessato di esercitare il diritto di opposizione
                                anche solo in parte. Pertanto, l’interessato può decidere di ricevere solo comunicazioni
                                mediante modalità tradizionali ovvero solo comunicazioni automatizzate oppure nessuna
                                delle due tipologie di comunicazione</li>
                        </ul>
                    </ul>
                </p>
                <p>
                    Ove applicabili, ha altresì i diritti di cui agli artt. 16-21 RGPD (Diritto di rettifica, diritto
                    all’oblio, diritto di limitazione di trattamento, diritto alla portabilità dei dati, diritto di
                    opposizione), nonché il diritto di reclamo all’Autorità Garante.
                </p>

                <h4><span class="badge badge-pill badge-primary">8</span> Modalità di esercizio dei diritti</h4>
                <p>L’interessato potrà in qualsiasi momento esercitare i propri diritti inviando:
                    <ul>
                        <li>Una semplice comunicazione via email a info@aidavillas.it</li>
                        <li>Una comunicazione scritta, via posta ordinaria, a: Agriturismo Apparita - Via Tommaso
                            Porcacchi 5, 52043 Castiglion Fiorentino (AR) Italia</li>

                    </ul>
                </p>



                <hr>

                <h2>Informativa sui Cookie e files di registro</h2>
                <p>
                    Per cookie si intende un dato informativo che viene trasmesso dal sito web al computer
                    dell'Utilizzatore al fine di permetterne una rapida identificazione e migliorare l'esperienza di
                    navigazione. Secondo quanto disposto dal Garante Privacy, Registro dei provvedimenti n. 229 dell'8
                    maggio 2014 “Individuazione delle modalità semplificate per l'informativa e l'acquisizione del
                    consenso per l'uso dei cookie” - 8 maggio 2014 (Pubblicato sulla Gazzetta Ufficiale n. 126 del 3
                    giugno 2014), questo sito utilizza solo cookie tecnici o cookie di terze parti, che vengono
                    installati automaticamente a seguito dell’accesso al sito, per finalità limitate alla normale
                    navigazione e senza alcun tracciamento o profilazione dell'utente e delle preferenze e senza
                    erogazione di contenuti pubblicitari di alcun genere:
                    <ul>
                        <li>_ga: cookie di tipo “tecnico” installato da terze parti, allo scopo di incrementare le stati
                            stiche di accesso (Google Analytics), durata 24 mesi;</li>
                        <li>_gat: cookie di tipo “tecnico”, ha lo scopo di monitorare la sessione, durata limitata ad
                            una sola sessione di navigazione;</li>
                    </ul>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>