{% extends "layout.html" %}
{% block content %}
<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true"
    style="background-image: url({{ url_for('static', filename='img/bg_2.jpg') }});"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="{{ current_user.picture }}" alt="Circle Image"
                  class="img-raised rounded-circle img-fluid">
              </div>
              <form class="form" method="POST" action="" enctype="multipart/form-data">
                <label class="btn btn-info btn-round" style="padding: 6px 10px;">
                    {{ profilepicture_form.image(accept="image/*", onchange="this.form.submit()", style="display:none;") }}
                  <i class="material-icons">brush</i> Cambia immagine
                </label>
              </form>
              <div class="name">
                <h3 class="title">{{ current_user.name + " " + current_user.surname }}</h3>
                <h6 style="text-transform:none;">{{ current_user.username }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}