{% extends "layout.html" %}
{% block content %}
<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true"
    style="background-image: url({{ url_for('static', filename='img/bg_2.jpg') }});"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <!-- Informazioni Utente -->
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="{{ requested_user.picture }}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <form class="form" method="POST" action="" enctype="multipart/form-data">
                {{ profilepicture_form.csrf_token }}
                <label class="btn btn-info btn-round" style="padding: 6px 10px;">
                  {{ profilepicture_form.image(accept="image/*", onchange="this.form.submit()", style="display:none;") }}
                  <i class="material-icons">brush</i> Cambia immagine
                </label>
              </form>
              <div class="name">
                <h3 class="title">{{ requested_user.name + " " + requested_user.surname }}</h3>
                <h6 style="font-size: 18px; text-transform:none; margin-top: -25px;">{{ requested_user.username }}</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- Form aggiunta stanza -->
        {% if current_user.id == requested_user.id and requested_user.privilege %}
        <div class="row">
          <div class="col-md-12 text-center">
            <h3>Aggiungi una stanza</h3>
            <form class="form addroom-form" style="max-width: 650px; margin-left: auto; margin-right: auto;"
              method="POST" action="" enctype="multipart/form-data">
              {{ addroom_form.csrf_token }}
              <!-- Name -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">title</i>
                  </span>
                </div>
                {{ addroom_form.name(class="form-control", placeholder="Nome...") }}
                {% if addroom_form.name.errors %}
                <span class="material-icons form-control-feedback form-control-feedback-custom">clear</span>
                <label
                  class="control-label control-label-custom">{% for error in addroom_form.name.errors %}{{ error }}<br>{% endfor %}</label>
                {% endif %}
              </div>
              <!-- Description -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">note</i>
                  </span>
                </div>
                {{ addroom_form.description(class="form-control", placeholder="Descrizione opzionale...", rows="1") }}
                {% if addroom_form.description.errors %}
                <span class="material-icons form-control-feedback form-control-feedback-custom">clear</span>
                <label
                  class="control-label control-label-custom">{% for error in addroom_form.description.errors %}{{ error }}<br>{% endfor %}</label>
                {% endif %}
              </div>
              <!-- Address -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">gps_fixed</i>
                  </span>
                </div>
                {{ addroom_form.address(class="form-control", placeholder="Posizione...") }}
                {% if addroom_form.address.errors %}
                <span class="material-icons form-control-feedback form-control-feedback-custom">clear</span>
                <label
                  class="control-label control-label-custom">{% for error in addroom_form.address.errors %}{{ error }}<br>{% endfor %}</label>
                {% endif %}
              </div>
              <!-- Available from date -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">calendar_today</i>
                  </span>
                </div>
                {{ addroom_form.available_from(class="form-control datetimepicker", id="datetimepicker1", placeholder="Disponibile da...") }}
                {% if addroom_form.available_from.errors %}
                <span class="material-icons form-control-feedback form-control-feedback-custom">clear</span>
                <label
                  class="control-label control-label-custom">{% for error in addroom_form.available_from.errors %}{{ error }}<br>{% endfor %}</label>
                {% endif %}
              </div>
              <!-- Available to date -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">calendar_today</i>
                  </span>
                </div>
                {{ addroom_form.available_to(class="form-control datetimepicker", id="datetimepicker2", placeholder="Fino a...") }}
                {% if addroom_form.available_to.errors %}
                <span class="material-icons form-control-feedback form-control-feedback-custom">clear</span>
                <label
                  class="control-label control-label-custom">{% for error in addroom_form.available_to.errors %}{{ error }}<br>{% endfor %}</label>
                {% endif %}
              </div>
              <!-- Price -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">attach_money</i>
                  </span>
                </div>
                {{ addroom_form.price(class="form-control form-control-profile", placeholder="Prezzo...") }}
                {% if addroom_form.price.errors %}
                <span class="material-icons form-control-feedback form-control-feedback-custom">clear</span>
                <label
                  class="control-label control-label-custom">{% for error in addroom_form.price.errors %}{{ error }}<br>{% endfor %}</label>
                {% endif %}
              </div>
              <!-- Max Persons -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">face</i>
                  </span>
                </div>
                {{ addroom_form.max_persons(class="form-control", placeholder="Numero massimo di Persone...") }}
                {% if addroom_form.max_persons.errors %}
                <span class="material-icons form-control-feedback form-control-feedback-custom">clear</span>
                <label
                  class="control-label control-label-custom">{% for error in addroom_form.max_persons.errors %}{{ error }}<br>{% endfor %}</label>
                {% endif %}
              </div>
              <!-- Pictures for the Room -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">insert_photo</i>
                  </span>
                </div>
                {{ addroom_form.pictures(class="form-control") }}
                {% if addroom_form.pictures.errors %}
                <span class="material-icons form-control-feedback form-control-feedback-custom">clear</span>
                <label
                  class="control-label control-label-custom">{% for error in addroom_form.pictures.errors %}{{ error }}<br>{% endfor %}</label>
                {% endif %}
              </div>
              <!-- Submit -->
              {{ addroom_form.submit(class="btn btn-primary btn-link btn-wd btn-lg") }}
            </form>
          </div>
        </div>
        {% endif %}
        {% if requested_user.privilege %}
        <!-- Visualizzazione stanze possedute dall'utente -->
        <h3 class="text-center">Stanze possedute</h3>
        {% if requested_user_rooms %}
        <div class="row">
          {% for room in requested_user_rooms %}
          <div class="col-md-4" style="padding-bottom:30px;">
            <div class="card">
              <img class="card-img-top" src="{{ room.pictures[0] }}" alt="Image Placeholder">
              <div class="card-body">
                <h3 class="card-title" style="margin-top:0;">{{ room.name }}</h3>
                <p class="card-text">
                  <strong>Prezzo:</strong> € {{ room.price }} / per notte
                  <br>
                  <strong>Ospiti:</strong> {{ room.max_persons }}
                  <br>
                  <strong>Luogo:</strong> {{ room.address }}
                  <br>
                  <strong>Descrizione:</strong> {{ room.description }}
                </p>
                <a href="/room/{{ room.id }}">
                  <button type="button" class="btn btn-info btn-block">Vai alla pagina</button>
                </a>
                <a href="/room/{{ room.id }}/delete">
                  <button type="button" class="btn btn-danger btn-block">Rimuovi stanza</button>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% elif current_user.id == requested_user.id %}
        <h4 class="text-center" style="padding-bottom: 20px;">Non hai ancora aggiunto nessuna stanza, aggiungine una compilando il form soprastante!</h4>
        {% else %}
        <h4 class="text-center" style="padding-bottom: 20px;">Questo utente non ha ancora nessuna stanza.</h4>
        {% endif %}
        {% endif %}
        {% if current_user.id == requested_user.id %}
        <!-- Visualizzazione prenotazioni dell'utente -->
        <h3 class="text-center">Le tue prenotazioni</h3>
        {% if requested_user_prenotations %}
        <div class="row">
          {% for prenotation in requested_user_prenotations %}
          <div class="col-md-4" style="padding-bottom:30px;">
            <div class="card">
              <img class="card-img-top" src="{{ prenotation.picture }}" alt="Image Placeholder">
              <div class="card-body">
                <h3 class="card-title" style="margin-top:0;">{{ prenotation.name }}</h3>
                <p class="card-text">
                  <strong>Pagata:</strong> € {{ prenotation.price }}
                  <br>
                  <strong>Per:</strong> {{ prenotation.persons }} persone
                  <br>
                  <strong>Da:</strong> {{ prenotation.start_date }}
                  <br>
                  <strong>A:</strong> {{ prenotation.end_date }}
                  <br>
                  <strong>Luogo:</strong> {{ prenotation.address }}
                </p>
                <a href="/room/{{ prenotation.room_id }}">
                  <button type="button" class="btn btn-info btn-block">Vai alla camera</button>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <h4 class="text-center" style="padding-bottom: 20px;">Non hai ancora prenotato niente. Puoi cominciare a cercarne una dalla <a href="/">homepage</a>!</h4>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!--
<c6 class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
-->